{{#layout}}
<h1>OAuth2 / OpenID Connect Login Demo</h1>

<p>
    This demo showcases WireMock's simulation of a generic OAuth2 / OpenID Connect login provider.
</p>

<p>
    <a href="/oauth2/authorization/mock">Sign in</a>
</p>
{{/layout}}